:root{
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --primary-green-hover: hsl(154, 59%, 60%);
  --accent: hsl(248, 32%, 49%);
  --purple-borders: hsla(246, 25%, 77%, 0.5);
  --purple: hsl(246, 25%, 77%);
  --bigger-radius: 8px;
  --smaller-radius: 5px;
  --shadow: 0px 10px 0px 0px hsla(249, 10%, 26%, 0.2); 
}

*, 
*::before, 
*::after { 
  box-sizing: border-box; 
}

body {
  background-image: url(./images/bg-intro-desktop.png); 
  background-color: var(--primary-red); 
  background-size: 100% auto;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  justify-content: center;
  margin: 0;
  padding: 2rem 10%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: center;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 35rem;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: var(--bigger-radius);
  padding: 2.5rem;
  box-shadow: var(--shadow);
}

.offer {
  background-color: var(--accent);
  text-align: center;
  margin: 0;
  padding: 1.1rem 2rem;
  border-radius: var(--bigger-radius);
  box-shadow: var(--shadow);
}

.offer strong {
  font-weight: 600;
}
 
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.customer-data {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1.5rem;
  margin: 0;
}

input {
  font: inherit; 
  font-weight: 600; 
  padding: 1rem 1.5rem;
  border: 1px solid var(--purple-borders);
  border-radius: var(--smaller-radius);
  box-sizing: border-box;
  width: 100%;
  caret-color: var(--accent);
}

input::placeholder {
  font-weight: 700;
}

input:focus-visible {
  outline: none;
  border: 1px solid var(--accent);
}

.user-wrong-text {
  color: var(--primary-red);
  font-weight: 900;
}

.btn {
  background-color: var(--primary-green);
  cursor: pointer;
  font: inherit;
  font-weight: 600;
  color: white;
  padding: 0.75em; 
  border-radius: var(--smaller-radius);
  border: none;
  box-shadow: inset 0px -4px 0px 0px hsla(249, 10%, 26%, 0.1);
}

.btn:hover {
  background-color: var(--primary-green-hover);
}

.btn:focus-visible,
.terms:focus-visible {
  outline: 3px solid var(--primary-green);
  outline-offset: 3px;
}

.disclaimer {
  color: var(--purple);
  font-size: 0.65rem;
  text-align: center;
}

.terms {
  text-decoration: none;
  font-weight: 700;
  color: var(--primary-red);
}

input[aria-invalid="true"] {
  background: url(./images/icon-error.svg) no-repeat right 1.5rem center;
  border: 2px solid var(--primary-red);
  padding-right: 3.5rem;
}

.error {
  color: var(--primary-red);
  font-size: 0.6rem;
  font-style: italic;
  font-weight: 600;
  text-align: right;
  margin-top: 0.3rem;
}

.visually-hidden {
  position: absolute; 
  width: 1px; 
  height: 1px;
  overflow: hidden; 
  clip-path: inset(50%); 
  white-space: nowrap;
}

@media (max-width: 50rem) {

  body {
    background-image: url(./images/bg-intro-mobile.png); 
  }

  .container {
    grid-template-columns: 100%;
    gap: 3rem;
  }

  header {
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  article {
    padding: 1.5rem;
  }
}
